/*****************************************************
COMMON
******************************************************/
body {
    margin: 0;
    color: $elements;
    font-size: 16px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}