/*****************************************************
COMMON
******************************************************/
body {
    margin: 0;
    color: $elements;
    font-size: map-get($font-sizes, base);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}