//font montserrat 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

//font karla
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

span,
a {
    font-family: 'Karla', sans-serif;
}