/*********************************
Spacing
*********************************/
@import 'variables-sizes';

@each $size,
$value in $sizes {
    .w-#{$size} {
        width: $value;
    }

    .h-#{$size} {
        height: $value;
    }

    .gap-#{$size} {
        gap: $value;
    }

    .p-#{$size} {
        padding: $value;
    }

    .px-#{$size} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$size} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .pt-#{$size} {
        padding-top: $value;
    }

    .pr-#{$size} {
        padding-right: $value;
    }

    .pb-#{$size} {
        padding-bottom: $value;
    }

    .pl-#{$size} {
        padding-left: $value;
    }

    .m-#{$size} {
        margin: $value;
    }

    .mx-#{$size} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$size} {
        margin-top: $value;
        margin-bottom: $value;
    }

    .mt-#{$size} {
        margin-top: $value;
    }

    .mr-#{$size} {
        margin-right: $value;
    }

    .mb-#{$size} {
        margin-bottom: $value;
    }

    .ml-#{$size} {
        margin-left: $value;
    }
}