/*********************************
Flexbox & Grid
*********************************/
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}