/*********************************
Utilities
*********************************/

.icon-small {
    font-size: 12px;
}

/*********************************
Flexbox & Grid
*********************************/
@import './utilities-flexbox-grid';
@import './utilities-grid-cols';

/*********************************
Spacing
*********************************/
@import './utilities-spacing';

/*********************************
Layout
*********************************/
@import 'utilities-aspect-ratios';

@include aspect-ratio();

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.inset-x-0 {
    left: 0px;
    right: 0px;
}

.top-0 {
    top: 0px;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 640px) {
        max-width: 640px;
    }

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 1280px) {
        max-width: 1280px;
    }

    @media (min-width: 1536px) {
        max-width: 1536px;
    }
}

/*********************************
Effects
*********************************/
@import './utilities-box-shadow';