/*********************************
Variabili
*********************************/
$color-primary: #427ed5;
$color-secondary: #e280b1;
$white: #ffffff;
$text: #2a2f33;
$elements: #6b6a6b;
$footer-top: #303337;
$footer-bottom: #1d1f22;
$light-gray: #d6d5d5;